[Unit]
Description=Joke bot
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=node --experimental-vm-modules --es-module-specifier-resolution=node /home/ubuntu/Documents/assassin/index.js

[Install]
WantedBy=multi-user.target
